{% extends "::layout.html.twig" %}

{% block title %} {{ parent() }} Jeu{% endblock %}
	<link rel="stylesheet" href="bundles/libertribesgame/css/stylejeu.css" type="text/css" media="screen" />
{% endblock %}

{% block connexion %}{% if username|length >0 %} {{username}} connecté <span class="bold">|</span><a class="" href="/logout">Logout</a>{% endif %}{% endblock %}
{% block entete %}
{% endblock %}
{% block navigation %}
	<div class="menu">
		<a class="menuhome" href="{{ path('LibertribesWorldBundle_StaticMap_index') }}">Carte</a>
	</div>
	<div class="menu">
		<a class="menuhome" href="{{ path('gameHome') }}">Villages</a>
	</div>
	<div class="menu">
		<a class="menuhome" href="{{ path('gameHome') }}">Avatars</a>
	</div>
	<div class="menu">
		<a class="menuhome" href="{{ path('gameHome') }}">Messagerie</a>
	</div>
	<div class="menu">
		<a class="menuhome" href="{{ path('gameHome') }}">Commerce</a>
	</div>
	<div class="menu">
		<a class="menuhome" href="{{ path('gameHome') }}">Unités</a>
	</div>
	<div class="menu">
		<a class="menuhome" href="{{ path('gameHome') }}">Héros</a>
	</div>
	<div class="menu">
		<a class="menuhome" href="{{ path('gameHome') }}">Objets</a>
	</div>
	<div class="menu">
		<a class="menuhome" href="{{ path('gameHome') }}">Quêtes</a>
	</div>
	<div class="menu">
		<a class="menuhome" href="{{ path('gameHome') }}">Guildes</a>
	</div>
	<div class="menu">
		<a class="menuhome" href="{{ path('gameHome') }}">Recherche Guildes</a>
	</div>
	<div class="menu">
		<a class="menuhome" href="{{ path('gameHome') }}">Diplomatie</a>
	</div>
{% endblock %}
{% block javascript %} 
<script type='text/javascript'>
	var marges;
	var padcontenant;
	padcontenant = parseInt($('#contenant').css('padding-left'))+parseInt($('#contenant').css('padding-right'));
	marges = parseInt($('#corps').css('margin-left'))+parseInt($('#corps').css('margin-right'))+parseInt($('#corps').css('padding-left'))+parseInt($('#corps').css('padding-right'));
	$('#corps').width(availwidth('#navigation')-marges-padcontenant-20);
</script>
{% endblock %}