<h1>Avatar list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Avatar_name</th>
            <th>Avatar_age</th>
            <th>Avatar_race</th>
            <th>Account_id</th>
            <th>Avatar_world</th>
            <th>Politic_regime</th>
            <th>Player_filiation_type</th>
            <th>Player_filiation_hypot</th>
            <th>Player_filiation_cert</th>
            <th>Level_aggressivity</th>
            <th>Level_fraud</th>
            <th>Level_commerce</th>
            <th>Level_efficiency</th>
            <th>Avatar_life</th>
            <th>Last_connexion</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('avatar_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.avatarname }}</td>
            <td>{{ entity.avatarage }}</td>
            <td>{{ entity.avatarrace }}</td>
            <td>{{ entity.accountid }}</td>
            <td>{{ entity.avatarworld }}</td>
            <td>{{ entity.politicregime }}</td>
            <td>{{ entity.playerfiliationtype }}</td>
            <td>{{ entity.playerfiliationhypot }}</td>
            <td>{{ entity.playerfiliationcert }}</td>
            <td>{{ entity.levelaggressivity }}</td>
            <td>{{ entity.levelfraud }}</td>
            <td>{{ entity.levelcommerce }}</td>
            <td>{{ entity.levelefficiency }}</td>
            <td>{{ entity.avatarlife }}</td>
            <td>{{ entity.lastconnexion|date('Y-m-d H:i:s') }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('avatar_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('avatar_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('avatar_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
