<!DOCTYPE html>
<html>
	<head>
		<title>Libertribes {% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
			<link rel="stylesheet" href="{{ asset('css/style.css')}}" type="text/css" media="screen" />
		{% block stylesheet %}
		{% endblock %}
			<script type="text/javascript" src="{{ asset('js/jquery-1.6.4.min.js')}}"></script>
			<script type="text/javascript" src="{{ asset('js/libertribes.js')}}"></script>
	</head>
	
	<body>
		<div id="conteneur0"> 
		<div id="conteneur1"> 
			<div id="sonetconnexion">
				<div id="connexion">
					{% if username|length >0 %} <span>{{username}} connecté <span> || </span></span><a  href="{{path('logout')}}">Logout</a>
					{% else %}
					<a  href="{{path('gameHome')}}">Login</a> // 
					<a  href="{{path('gameHome')}}">S'inscrire</a>
					{% endif %}
				</div>   <!-- connexion   -->
				<div id="son">
					<script type="text/javascript">
					initAudio();
					</script>
				</div>  <!-- son   -->
			</div>   <!-- sonetconnexion   -->
			<div id="banniere">
				{% block entete %} 
				{% endblock %}
			</div>   <!-- bannière   -->
			<div id="menuUpright">
				<p class="lienUprightbl"><a href="{{path('gameHome')}}" >Avatar</a></p>
				<p class="lienUpright"><a href="{{path('gameHome')}}" >Compte</a></p>
				<p class="lienUpright"><a href="{{path('gameHome')}}" >Unités</a></p>
				<p class="lienUpright"><a href="{{path('gameHome')}}" >Héros</a></p>
				<p class="lienUpright"><a href="{{path('gameHome')}}" >Objets</a></p>
			</div>     <!-- menuUpright  -->
			<div id="menuUpleft">
				<span><a class="lienUpleft" href="{{path('forum_welcome')}}">Forum</a></span>
				<span><a class="lienUpleft" href="{{path('gameHome')}}">Website</a></span>
				<span><a class="lienUpleft" href="{{path('gameHome')}}">Contact team</a></span>
			</div>  <!-- menuUpleft   -->

				{% block body %}
				{% endblock %}

				
			<div id="menuBottom">
				<span><a href="{{path('gameHome')}}" >Messages</a></span>
				<span><a href="{{path('gameHome')}}" >Quêtes</a></span>
				<span><a href="{{path('gameHome')}}" >Guildes</a></span>
				<span><a href="{{path('gameHome')}}" >Diplomatie</a></span>
				<span><a href="{{path('gameHome')}}" >Commerce</a></span>
			</div>
		</div>    <!-- conteneur1   -->
		<div id="pied_de_page">
			<span class='bold'>Copyright:</span><br/>
			L'ensemble de ce travail, basé sur l’œuvre de  Cédric Bacconnier, Samuel Laï, Nicolas Darras, Julien Hilmoine est sous Copyleft : cette œuvre est libre, vous pouvez la redistribuer et/ou la modifier selon les termes de la Licence Art Libre. Vous trouverez un exemplaire de cette Licence sur le site Copyleft Attitude http://www.artlibre.org/ ainsi que sur d'autres sites.
		</div>     <!-- pied de page   -->
		{% block javascript %}
		{% endblock %}
		</div>     <!-- conteneur0   -->
	</body>
</html>
