{% extends 'LibertribesForumBundle::layout_forum.html.twig' %}
    {% block title %} {{ parent() }} - Accueil{% endblock %}
    {% block javascripts %}
	{% endblock %}
	{% block content %}
		{% if categories|length > 0 %}
	    {% for category in categories %}
		<div class="eachcategory">
			<div class="titrecategory">
				{{category.name}}
			</div>
			<div class="presentcategory">
				{% if category.numTopics > 0 %}
				<table class="part100pc">
					{% for topic in topics %}
						<tr>
						{% if topic.categoryid == category.id %}
							<td class="part70pc"><a href="{{path('forum_post_list',{'topicid': topic.id , 'subject': topic.subject})}}" >{{topic.subject}}</a></td>
							<td class="part15pc">Consulté {{topic.numViews}} fois</td><td class="part15pc">Nombre de messages: {{topic.numPosts}}</td>
						{% endif %}
						</tr>
					{% endfor %}
				</table>
				{% else %}
					Il n'y a pas encore de sujet traité
				{% endif %}
			</div>
		</div>
		{% endfor %}
		{% else %}
		  Il n'y a pas encore de catégorie
		{% endif %}

	{% endblock %}