<h1>Town list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Coordinates_slotid</th>
            <th>Size</th>
            <th>Defense_bonusmalus</th>
            <th>Food_bonusmalus</th>
            <th>Iron_bonus</th>
            <th>Wood_bonus</th>
            <th>Cyniam_bonus</th>
            <th>Avatar_id</th>
            <th>Building_productionwood</th>
            <th>Building_stockwood</th>
            <th>Building_productioniron</th>
            <th>Building_stockiron</th>
            <th>Building_productioncyniam</th>
            <th>Building_stockcyniam</th>
            <th>Building_productionfood</th>
            <th>Building_stockfood</th>
            <th>Building_wizardrytrainingattack</th>
            <th>Building_wizardrytrainingdefense</th>
            <th>Building_armytraininghand2hand</th>
            <th>Building_armytrainingdistancefighting</th>
            <th>Building_armytrainingdefense</th>
            <th>Building_troopcamp</th>
            <th>Slotid_building_troopcamp</th>
            <th>Building_productionmotorizedunit</th>
            <th>Building_wizardschool</th>
            <th>Building_manaharvesting</th>
            <th>Building_science</th>
            <th>Building_wall</th>
            <th>Building_turret</th>
            <th>Building_ambassy</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('town_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.coordinatesslotId }}</td>
            <td>{{ entity.size }}</td>
            <td>{{ entity.defensebonusmalus }}</td>
            <td>{{ entity.foodbonusmalus }}</td>
            <td>{{ entity.ironbonus }}</td>
            <td>{{ entity.woodbonus }}</td>
            <td>{{ entity.cyniambonus }}</td>
            <td>{{ entity.avatarid }}</td>
            <td>{{ entity.buildingproductionWood }}</td>
            <td>{{ entity.buildingstockWood }}</td>
            <td>{{ entity.buildingproductionIron }}</td>
            <td>{{ entity.buildingstockIron }}</td>
            <td>{{ entity.buildingproductionCyniam }}</td>
            <td>{{ entity.buildingstockCyniam }}</td>
            <td>{{ entity.buildingproductionFood }}</td>
            <td>{{ entity.buildingstockFood }}</td>
            <td>{{ entity.buildingwizardryTrainingAttack }}</td>
            <td>{{ entity.buildingwizardryTrainingDefense }}</td>
            <td>{{ entity.buildingarmyTrainingHand2hand }}</td>
            <td>{{ entity.buildingarmyTrainingDistancefighting }}</td>
            <td>{{ entity.buildingarmyTrainingDefense }}</td>
            <td>{{ entity.buildingtroopCamp }}</td>
            <td>{{ entity.slotIdbuildingtroopCamp }}</td>
            <td>{{ entity.buildingproductionMotorizedUnit }}</td>
            <td>{{ entity.buildingwizardSchool }}</td>
            <td>{{ entity.buildingmanaHarvesting }}</td>
            <td>{{ entity.buildingscience }}</td>
            <td>{{ entity.buildingwall }}</td>
            <td>{{ entity.buildingturret }}</td>
            <td>{{ entity.buildingambassy }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('town_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('town_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('town_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
