<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Libertribes - Forum {% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/libertribesforum/css/forum.css') }}" />
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
		<script type="text/javascript" src="{{ asset('js/jquery-1.6.4.min.js')}}"></script>
		{% block javascripts %}{% endblock %}
    </head>
    <body>
		<div id="positionneur">
		<div id="forumbanner">
			<h1>Le Forum de Libertribes</h1>
			<div id="connexion">
				{{username}} 
			</div>
		</div>
		<div id="searchback">
			<div id="formsearch">
				<form action="{{ path('forum_search') }}" method="post" name="searchforum">
				<label for="q">Chercher dans le forum </label>
				<input type="text" name="q"  />
				<input type="submit" value="Soumettre" />
				</form>
			</div>
			<div id="linkback">
				<a href="{{ path('gameHome') }}">Retour au Jeu</a>
			</div>
		</div>
		<div id="forummenu">
			{% render 'LibertribesForumBundle:Category:index' %}
			{% block createnewtopic %}
			{% endblock %}
			{% block createnewpost %}
			{% endblock %}
		</div>
		<div id="forumbody">
			{% block content %}
			{% endblock %}
		</div>
		</div>
    </body>
</html>