{% extends 'LibertribesForumBundle::layout_forum.html.twig' %}
    {% block title %} {{ parent() }} - Notes{% endblock %}
    {% block javascripts %}
	{% endblock %}
	{% block content %}
		<div class="eachcategory">
		<h1>{{categoryname}}</h1>
			<div class="titrecategory">
				{% if subject == 'all' %}
					Toutes les notes en vrac
				{% else %}
					"{{subject}}" (ouvert par {{author}})
				{% endif %}
			</div>
			<div class="presentcategory">
				{% if posts|length > 0 %}
					<table class="posts">
						<tr class="titresintable">
							<td>Message</td><td>Posté par</td><td>Date</td>
						</tr>
						{% for post in posts %}
							<tr>
								<td>{{post.message}}</td><td class="width200">{{post.author}}</td><td class="width200">{{post.createdAt|date('Y-m-d H:m:i')}}</td>
							</tr>
						{% endfor %}
					</table>
				{% else %}
				Il n'y a pas encore de note pour ce sujet
				{% endif %}

			<div id="message2send">
				<form action="{{path('forum_new_post')}}" method="post">
					<input type="hidden" name="topicid" value="{{topicid}}" />
					<input type="hidden" name="author" value="{{username}}" />
					Rédigez votre message:<br/>
					<textarea name="message" cols="30" rows="5">
					</textarea><br/>
					<input type="submit" value="Envoyer" />
				</form>
			</div>
			</div>
		</div>
	{% endblock %}
			{% block createnewpost %}
		<div id="createnewtopic">
			<button type="button" onclick="$('#message2send').css('display','block')">Envoyer un message</button>
		</div>	
		{% endblock %}